openapi: 3.0.3
info:
  title: Handwrite IO Handwriting Orders API
  description: The Handwrite API allows you to send handwritten notes in an automated manner using REST endpoints. Integrate personalized handwritten correspondence into your workflows and applications at scale.
  version: 1.0.0
  contact:
    name: Handwrite IO
    url: https://documentation.handwrite.io/
servers:
- url: https://api.handwrite.io/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Orders
  description: Order tracking and status
paths:
  /order/{orderId}:
    get:
      tags:
      - Orders
      summary: Get an Order
      description: Returns an order by ID, including status and proof images.
      operationId: getOrder
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Order not found
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    Recipient:
      type: object
      required:
      - firstName
      - lastName
      - street1
      - city
      - state
      - zip
      properties:
        firstName:
          type: string
        lastName:
          type: string
        company:
          type: string
        street1:
          type: string
        street2:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
    Order:
      type: object
      properties:
        _id:
          type: string
        status:
          type: string
          enum:
          - processing
          - written
          - complete
          - problem
          - cancelled
        message:
          type: string
        handwriting:
          type: string
        card:
          type: string
        recipient:
          $ref: '#/components/schemas/Recipient'
        from:
          $ref: '#/components/schemas/Recipient'
        proof_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  responses:
    RateLimited:
      description: Rate limit exceeded (60 requests per minute per API key)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key in the format `live_hw_[key]`
